<div class="row">
  <table id="slugs_index-data_table" class="filter-data-table table table-hover table-condensed" data-source="<%=  api_slugs_url(:format => "json") %>">
    <thead>
      <tr>
        <th>Short Url</th>
        <th>Long Url</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
  </tbody>
  </table>
</div>
<script>
(function(){
  $('#slugs_index-data_table').dataTable({
          sPaginationType: "full_numbers",
          bProcessing: true,
          aaSorting: [],
          bServerSide: true,
          lengthMenu: [10, 50, 100, 200],
          aaSorting: [],
          sAjaxSource: $('#slugs_index-data_table').data('source'),
          pageLength: 50
        })
})();
</script>