<div class="row">
  <%= link_to("Create New Slug", new_slug_url) %>
  <br>
  <br>
  <br>
  <table id="slugs_index-data_table" class="filter-data-table table table-hover table-condensed" data-source="<%=  slugs_url(:format => "json") %>">
    <thead>
      <tr>
        <th>Short Url</th>
        <th>Long Url</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
  </tbody>
  </table>
</div>
<script>
(function(){
  $('#slugs_index-data_table').dataTable({
          sPaginationType: "full_numbers",
          bProcessing: true,
          aaSorting: [],
          bServerSide: true,
          lengthMenu: [10, 50, 100, 200],
          ajax:{url: $('#slugs_index-data_table').data('source'), dataSrc:""},
          pageLength: 50,
          "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "Nothing found - sorry",
            "info": "Showing page _PAGE_ of _PAGES_",
            "infoEmpty": "",
            "infoFiltered": ""
        }
        })
})();
</script>